.main {
    direction: rtl;
}

.section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-one h2 {
    font-size: 40px;
    font-weight: bolder;
}

.section-one p {
    width: 1000px;
}